.wrapper {
    margin-top: 24px;
    margin-right: 56px;
}

.main-layout {
    min-height: 400px;
    background-color: #fff;
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.main-layout__inner {
    padding: 16px;
}

.main-layout__header {
    padding-bottom: 14px;
    border-bottom: 1px solid #ccc;
}

.main-layout__filter {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.filter {
    padding: 6px;
    border: 1px solid #ccc;
}
.search {
    flex: 1;
}
.search-inner {
    position: relative;
    display: flex;
    border: 1px solid #ccc;
    padding: 6px;
    input {
        width: 100%;
        padding: 4px 0;
    }
}

.table {
    width: 100%;
    font-size: 1.4rem;
    // font-weight: 400;
    .row {
        display: flex;
        align-items: center;
        min-height: 66px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 2px;
        cursor: pointer;
    }

    .row:not(.not-border) {
        border-top: 1px solid #ccc;
        &:hover {
            background-color: #f9fafb;
        }
    }
    .col {
        min-width: 120px;
        max-width: 200px;
        width: 15%;
        text-align: center;
    }
    .checkbox {
        min-width: 60px;
        display: flex;
        align-items: center;

        input {
            width: 16px;
            height: 16px;
            border: 1px solid #c4cdd5;
            background-color: #fff;
        }
    }
    .img {
        min-width: 60px;
    }
    .name {
        text-align: left;
        min-width: 120px;
        max-width: 360px;
        width: 30%;
    }
    .active {
        width: 10%;
        color: #155724;
        background-color: #d4edda;
        border-radius: 9999px;
    }
}
