.wrapper {
    margin-bottom: 12px;
}

.control {
    width: 100%;

    .input {
        width: 100%;
        padding: 8px;
        border: 1px solid #c4cdd5;
        border-radius: 4px;
    }
}
.label {
    font-size: 1.4rem;
}
