.wrapper {
    height: 100vh;
    display: flex;
    color: var(--text-color);
    overflow: hidden;
    background-color: #f9fafb;
}
.container {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 24px;
    flex: 1;
    overflow-y: auto;
}

@media print {
    .hide-on-print {
        display: none;
    }
}
