.wrapper {
    margin-top: 24px;
    margin-right: 56px;
}

.inner {
    height: 100%;
    padding: 16px;
}

.main-layout {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-card {
    min-width: 800px;
    min-height: 600px;
    margin-right: 16px;
    border-radius: 3px;
    background-color: #fff;
}

.card__item {
    margin-bottom: 12px;
}

.card__control {
    width: 100%;

    .input {
        width: 100%;
        padding: 8px;
        border: 1px solid #c4cdd5;
        border-radius: 4px;
    }
}
.label-input {
    font-size: 1.4rem;
}

.next-card {
    min-width: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.status-card {
    min-height: 160px;
    margin-bottom: 16px;
    border-radius: 3px;
    background-color: #fff;
    .status-value {
        margin-left: 4px;
        font-size: 1.4rem;
    }

    .btn-book {
        background-color: #fff;
        color: var(--primary);
        cursor: pointer;
    }
}

.card-title {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 1.4rem;
    font-weight: 600;
}

.avatar-card {
    flex: 1;
    border-radius: 3px;
    background-color: #fff;
}

.box-upload-img {
    position: relative;
    min-height: 240px;
    background-color: #fafbfc;
}
.btn-upload {
    position: absolute;
    margin: auto;
    bottom: 18px;
    left: 0;
    right: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px 0 12px;
    border-top: 1px solid #c4cdd5;
    .actions-right {
        display: flex;
        gap: 8px;
    }
}

.actions {
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.btn-delete,
.btn-other {
    margin-left: 4px;
    background-color: #fff;
    color: var(--primary);
    cursor: pointer;
}

.img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.loaded ~ * {
    display: none;
}
.error {
    display: none;
}
.error:first-child {
    display: none;
}

.d-none {
    display: none;
}

.hide {
    visibility: hidden;
    pointer-events: none;
}
