.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.hidden {
    position: fixed;
    left: 50%;
    top: var(--header-height);
    animation: fadeout 4s forwards;
    .close {
        display: none;
    }
}

.close {
    font-size: 2rem;
    cursor: pointer;
}

@keyframes fadeout {
    to {
        display: none;
        opacity: 0;
    }
}

.primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}
