.title-bar {
    display: flex;
    flex-wrap: wrap;
}

.title-bar__navigation {
    width: 100%;
}

.breadcrumbs {
    color: #637381;
    a {
        display: flex;
        align-items: center;
    }
}

.title-bar__main-group {
    flex: 1;
}
